body {
  font-family: courier;
}

#word h4 {
  /* font-size: 66px; */
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: purple;
}
#keypad{
}

.letter-button, .letter-disabled {
  border-radius: 50%;
  display: inline-block;
  font-family: courier;
  font-size: 28px;
  height: 50px;
  margin: 0.2em 0.1em;
  width: 50px;
  background-color: purple;
  line-height: 50px;
  text-align: center;
  color: white;
  border: 2px solid black;

  transition: color 0.2s,
  background-color 0.2s;
}

.letter-button:hover {
  color: purple;
  background-color: white;
  font-weight: bold;
}

.used-letter {
  color: gray;
  background-color: lightgray;
  border: 2px solid gray;
}

.word-in-play p {
  color: purple;
  font-size: 22px;
}

.reset-button {
  background-color: purple;
  border: 2px solid black;
  color: white;
}

.reset-button:hover {
  color: purple;
  background-color: white;
  font-weight: bold;

}
